/* Parte onde fica o card da consulta */
.card_consulta {
    background-color: #FFD797 !important;
    border-radius: 15px !important;
    box-shadow: 0px 2px 2px black;
    max-width: 800px !important;
}

/* Botão agendamento */
.btn_agendar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white !important;
    border: none;
    background-color: #ffa411 !important;
}

.btn_agendar:hover {
    color: white;
    background-color: #f09f1d !important;
}

.pst_btn_agendar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#myTable thead {
    background-color: #343A40;
    color: white;
    text-align: center;
}

#myTable th {
    background-color: #343A40;
    color: white;
    text-align: center;
}

#myTable tr {
    background-color: #343A40;
    color: white;
    text-align: center;
}

.input_date {
    left: 33.5rem;
    margin-top: 9px;
}

.select_carteira {
    position: absolute;
    left: 24rem !important;
}

.input_carteira {
    margin-left: 31.8rem;
    position: absolute;
}

.label_carteira_pet {
    position: absolute;
    margin-left: 25rem;
    margin-top: -31px;
    font-size: 18px;
    font-weight: bold;
}

.label_carteira_vacina {
    position: absolute;
    margin-left: 37.2rem;
    margin-top: -31px;
    font-size: 18px;
    font-weight: bold;
}