/* Parte onde fica o card da consulta */
.card_relatorio {
    background-color: #FFD797 !important;
    border-radius: 15px !important;
    box-shadow: 0px 2px 2px black;
    max-width: 380px !important;
    max-height: 390px !important;
}

/* Botão agendamento */
.btn_agendar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white !important;
    border: none;
    background-color: #ffa411 !important;
}

.btn_agendar:hover {
    color: white;
    background-color: #f09f1d !important;
}

.pst_btn_agendar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tamanho do icone */
.tamanho_icone {
    width: 90px;
    height: 80px;
}

.icone_plus {
    color: black;
}

.btn_cadastrar_vacinas:hover {
    background: #38b548;
}

.relatorio_box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}

.relatorio_centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.estilo_span {
    font-weight: bolder;
    font-size: 14px;
}

.relatorio_titulo_hidden {
    display: none;
}

.logo_imprimi {
    display: none;
}

.logo_relatorio {
    width: 40px;
    height: 40px;
}

.orientacao_relatorio {
    justify-content: center !important;
    align-items: center !important;
}