
/* Imagem dos anuncios */
.custom_img_anuncios {
    width: 155px;
    /* height: 200px; */
}

/* Corpo onde ficam os produtos anunciados */
.custom_body_produtos {
    display: flex;
    justify-content: center;
}

/* Atributos das imagens dos produtos */
.custom_img_produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 180px;
    border: 1px #f3f3f3 solid;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

/* Parte onde fica o card de cada produto */
.custom_card_produtos {
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 286px;
}

/* Titulo dos produtos */
.custom_titulo_produtos {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_center {
    text-align: center;
    aling-items: center;
    justify-content: center;
}

.aling_btn {
    margin-left: 65%;
}

.editar_produto {
    position: relative;
    margin-left: 94%;
    margin-bottom: 20px;
    margin-top: -10px !important;
}

.bordado {
    /*border: 1px solid black;*/
    /*background-color: #f3f3f3;*/
}

.background_home {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0px 20px 30px;
    background: url('../../img/Fundos/background.png') no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-size: cover;
}

.card-title {
    font-size: 22px;
    /*border-bottom: 1px black solid;*/
}

.text_qtd {
    font-weight: bolder;
    font-size: 14px;
}

.card-text {
    max-width: 160px;
}

/*Parte do cliente*/
.btn_plus_cliente {
    margin-bottom: 30px;
}

.centralizar_btn_cliente {
    justify-content: center;
}

.center_cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 200px;
}